{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}
<div class="container">
<div class="jumbotron my-3">
  <h1 class="display-4">Welcome to iCoder!</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p><font color="#4bb543">To share To connect To create To inspire....</font></p>
  <a class="btn btn-success btn-lg" href="/blog" role="button">Go to Blog</a>
  </div>
</div>
<div class="container">
<h2>Popular Blogposts</h2>
<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
<img class="img-fluid text-right d-inline" src="https://www.waldenu.edu/-/media/walden/images/seo-article/seo-1560-bs-professional-development-progr-270311620-1200x675.jpg?rev=8795f13a29124f36ba6b7361143e68a8&amp;hash=F8AB7A76BD17330DDCEB2DE5DC7F53DE" alt="Software Development" height="300" width="300" />
         <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Article  by Doyel  </strong>
            <h2 class="mb-0"><a href="/blog/Softwaredevelopment.blog"><font color=black>Introduction to Software Development</font></a></h2>
            
            
            <div class="my-2">
            	<a href="/blog/Softwaredevelopment.blog" role="button"  class="btn btn-lg btn-success">Continue reading</a>
            </div>            
        </div>
   <div class="col-auto d-none d-lg-block">
          
        </div>     
      </div>
      </div>
 {% endblock %}