{% extends 'base.html' %}

{% block title %} Blogpost{% endblock title %}

{% block body %}
<div class="container my-3">

        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timeStamp}} by <a href="/about">{{post.author}}</a></p>

        <p>{{post.content}}</p>
        <hr>
      </div>
        <div class="container">
      <h2> Comments</h2>
      <form action="/blog/postComment" method="post">
      {% csrf_token %}
      <input type="text" name="comment" placeholder="Enter comment here">
      <input type="hidden" name="postSno" value="{{post.sno}}" >
      <input type="submit" value="Submit">
     </form>
      <div class="row my-3">
      <div class="col-md-2 ">Image here</div>
      <div class="col-md-10  ">Comment here</div>
      </div>
      <div class="row my-3">
      <div class="col-md-2 ">Image here</div>
      <div class="col-md-10  ">Comment here</div>
      </div>
      <div class="row my-3">
      <div class="col-md-2 ">Image here</div>
      <div class="col-md-10  ">Comment here</div>
      </div>
      <div class="row my-3">
      <div class="col-md-2 ">Image here</div>
      <div class="col-md-10  ">Comment here</div>
      </div>
      <div class="row my-3">
      <div class="col-md-2 ">Image here</div>
      <div class="col-md-10  ">Comment here</div>
      </div>
      </div>
 {% endblock %}
